.message:not(:first-child) {
    margin-top: 20px;
}

a div {
    background-color: #000000;
}

a img:hover {
    opacity: 0.8;
}

.modal-full {
    min-width: 100%;
}

    .modal-full .modal-content {
        min-height: 100vh;
    }