@{
    ViewBag.Title = "留言板";
}
<div id="app" class="pt-3">
    <!-- 留言 -->
    <div class="card">
        <!-- body -->
        <div class="card-body">
            <div class="row">
                <div class="flex-column px-2">
                    <img src="@((ViewBag.CurrentUser as AppUser).HeadPortraitPath)" height="40" width="40" style="border-radius: 50%;" />
                </div>
                <div class="flex-fill">
                    <textarea class="w-100" style="border: none; resize: none; overflow: hidden;" placeholder="嗨，@(User.Identity.Name)，在想些什麼?" maxlength="300"
                              v-model="currentMessage.message"></textarea>
                </div>
            </div>
            <hr v-if="showImageRow" />
            <div class="card-columns"
                 v-if="showImageRow">
                <div class="card w-auto"
                     v-for="(image, index) in currentMessage.previewImages">
                    <div class="card-img">
                        <img height="100" width="100"
                             :src="image"
                             :alt="currentMessage.images[index].name" />
                    </div>
                    <div class="card-img-overlay p-0"
                         :title="currentMessage.images[index].name">
                        <button type="button" class="close" aria-label="Close"
                                @@click="removePreviewImage(index)">
                            <span class="align-top" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="card w-auto">
                    <div class="card-img">
                        <div class="btn btn-outline-light" style="position: relative; overflow: hidden; width: 100px; height: 100px; top: 0; left: 0;">
                            <svg class="feather align-middle">
                                <use xlink:href="~/Content/feather-sprite.svg#plus" />
                            </svg>
                            <input type="file" multiple accept="image/*" style="top: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                   @@change="loadPreviewImage" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="card-footer">
            <div class="row px-3">
                <div class="flex-column">
                    <div style="height: 38px; width: 90px;">
                        <div class="btn btn-outline-info" style="position: relative; overflow: hidden;">
                            新增照片
                            <input type="file" multiple accept="image/*" style="bottom: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                   @@change="loadPreviewImage" />
                        </div>
                    </div>
                </div>
                <div class="text-right flex-fill">
                    <button type="button" class="btn btn-primary"
                            v-if="messageSendable"
                            @@click="sendMessage">
                        留言
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr v-if="showMessageList" />
    <!-- 列表 -->
    <div v-if="showMessageList">
        <div class="card message"
             v-for="(message,index) in messages">
            <div class="card-header py-1">
                <div class="row">
                    <div class="flex-column">
                        <div class="row mx-0">
                            <div class="flex-column">
                                <img class="mt-1" height="40" width="40" style="border-radius: 50%; top: 0;"
                                     :src="resolveUrl(message.HeadPortraitPath)" />
                            </div>
                            <div class="flex-fill pl-2">
                                <span class="d-block" style="font-size: larger;">
                                    {{message.UserName}}
                                </span>
                                <span class="d-block" style="color: #696969; font-size: small;">{{message.Time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right flex-fill">
                        <span class="d-inline-block align-middle h-100"></span>
                        <a class="card-link d-inline-block align-middle" href="#">回覆</a>
                        <a class="card-link d-inline-block align-middle" href="#"
                           v-if="authorizeUser(message.UserId)">刪除</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{message.Context}}
                </div>
                <hr v-if="message.AttahmentList.length>0"/>
                <!-- TODO show image -->
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        window.serverRoot = "@Url.Content("~")";
        const userId = "@((ViewBag.CurrentUser as AppUser).Id)";
    </script>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/autosize.js"></script>
    <script src="~/Scripts/PlusoneLib.js"></script>
    <script src="~/Scripts/MessageBoard.js"></script>
    <script>
        $(autosize(document.querySelectorAll('textarea')));
    </script>
}
